@import "tailwindcss";

@theme {
  --color-primary: #671800;
  --color-hyrox-orange: #FF5722;
  --color-clinical-slate: #2D4F67;
  --color-surface: #f4faff;
  
  --font-heading: var(--font-inter), sans-serif;
  --font-body: var(--font-plus-jakarta), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

main section[id] {
  scroll-margin-top: 5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
